html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-repeat:
        no-repeat,
        repeat;
    
    background-size: cover;

    color: #fff; 
    font-family: 'JetBrains Mono', monospace; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
}

#title {
    background-color: #11d2f040;
    background: linear-gradient(to bottom, rgb(9, 9, 19), rgba(0, 0, 0, 0.436)), url(students.jpg);
    background-position-y: 40%;
    margin-top: 40px;
    width: 90%;
    max-width: 1400px;
    height: auto;
    align-self: center;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
}

#centered-text {
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
    
}

#bg {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.764)),
        url(graphingpaper.jpg);
    
        background-repeat:
            no-repeat,
            repeat;
        
        background-size: cover, 20%;
}

#Rhea {
    background-color: rgba(72, 130, 130, 0.317);
    border-radius: 20px;
    border-color: palevioletred;
    border-style: dashed;
    border-width: 6px;
    max-width: 430px;
    height: auto;
    overflow-wrap: break-word;
    position: relative;
    overflow: visible;
}

#Nico {
    background-color: rgba(72, 130, 130, 0.317);
    border-radius: 20px;
    border-color: palevioletred;
    border-style: dashed;
    border-width: 6px;
    max-width: 430px;
    height: auto;
    overflow-wrap: break-word;
    position: relative;
    overflow: visible;
}

#About {
    background-color: rgba(72, 130, 130, 0.317);
    border-radius: 20px;
    border-color: palevioletred;
    border-style: dashed;
    border-width: 6px;
    max-width: 1200px;
    height: auto;
    overflow-wrap: break-word;
}

#horizontal {
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

#vertical {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#clickable-text {
    color: #14d3e1;
}

#overlapping-img {
    border-radius: 20px;
    border-color: palevioletred;
    border-style: solid;
    border-width: 6px;
    position: absolute;
    right: 0px;
    top: -36px;
    border-radius: 50%;
    width: 180px;
    object-fit: cover;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}