html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-repeat:
        no-repeat,
        repeat;
    
    background-size: cover;

    color: #fff; 
    font-family: 'JetBrains Mono', monospace; 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.268);
}

/* fade in stuff */
.fade {
    opacity: 0.0;
    transform: translateY(40px);
    transition: opacity 0.8s ease-out, transform 0.6s ease-out;
}

.fade.in {
    opacity: 1;
    transform: translateY(0px);
}

.cWhite {
    color: rgb(0, 0, 0);
    transition: 0.8s ease-out;
}

.cWhite.cRed {
    color: rgb(255, 255, 255);
}

#title {
    background-color: #11d2f040;
    background: linear-gradient(to bottom, rgb(9, 9, 19), rgba(0, 0, 0, 0.436)), url(students.jpg);
    background-position-y: 40%;
    margin-top: 40px;
    width: 90%;
    max-width: 1400px;
    height: auto;
    align-self: center;
    box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.1);
}

#centered-text {
    text-align: center;
    font-size: 5vw;
    font-weight: bold;
}

#bg {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0.764)),
        url(graphingpaper.jpg);
    
        background-repeat:
            no-repeat,
            repeat;
        
        background-size: cover, 20%;
}

#Rhea {
    background: linear-gradient(rgba(3, 41, 41, 0.707), rgba(2, 35, 3, 0.264));
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    max-width: 430px;
    height: auto;
    overflow-wrap: break-word;
    position: relative;
    overflow: visible;
}

#Nico {
    background: linear-gradient(rgba(3, 41, 41, 0.707), rgba(2, 35, 3, 0.264));
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    max-width: 430px;
    height: auto;
    overflow-wrap: break-word;
    position: relative;
    overflow: visible;
}

#About {
    background: linear-gradient(rgba(3, 41, 41, 0.707), rgba(2, 35, 3, 0.264));
    border-radius: 20px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 1px;
    max-width: 96%;
    height: auto;
    overflow-wrap: break-word;
    margin-bottom: 20px;
    box-shadow: 4px 10px 60px 10px rgb(0, 0, 0);
    inset: 0px 0px 0px 0px rgb(255, 0, 0);
}

#horizontal {
    display: flex;
    gap: 30px;
    /* flex-wrap: wrap; */
    justify-content: center;
}

#vertical {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#clickable-text {
    color: #14d3e1;
}

#overlapping-img {
    border-radius: 20px;
    border-color: palevioletred;
    border-style: solid;
    border-width: 6px;
    position: absolute;
    right: 0px;
    top: -36px;
    border-radius: 50%;
    width: 180px;
    object-fit: cover;
    float: right;
    margin-left: 15px;
    margin-bottom: 15px;
}